*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 208, 207);
    box-sizing: border-box;
}

nav{
    padding: 50px;
    background-color: rgb(255, 208, 207);
}
.logoprin{
    border-radius: 50%;
    width: 50px;
}
.enlacesclass{
    background-color: rgb(255, 208, 207);
    list-style: none;
    margin: 20px auto;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    border-radius: 7%;
}
.enlacesclass li{
    display: inline-block;
}
.enlacesclass li a{
    padding: 20px;
    margin: 10px;
    color: rgb(148, 123, 117) ;
    text-decoration: none;
    display: inline-block;
}
.enlacesclass li a:hover{
    color: brown;
    background-color: lightpink;
    border-radius: 10%;
}
.container{
    text-align: center;
}

body{
    background-color: rgb(251, 225, 224);
}
.centrado{
    position: absolute;
    opacity: 80%;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    }
h1{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}
.productos-principales{
    margin: 20px;
    padding: 30px ;
}
.productos-principales div{
    display: inline-block;
    text-align: center;
    margin: 70px;
    font-family: 'DM Sans', sans-serif;
}
.galletaprin{
    position: relative;
    display: inline-block;
    text-align: center;
}
.galletaprin img{
    width: 15rem;
    display: inline-block;
    border-radius: 10%;
}
.regalosprin{
    position: relative;
    display: inline-block;
    text-align: center;
}
.regalosprin img{
    width: 15rem;
    height: 15rem;
    display: inline-block;
    border-radius: 10%;
    position: relative;
    text-align: center;
}
.tortaprin{
    position: relative;
display: inline-block;
text-align: center;
}
.tortaprin img{
    width: 15rem;
    display: inline-block;
    border-radius: 10%;
}

.galletas-pages{
    margin: 20px;
    padding: 30px;
    }
.galletas-pages-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
}
.torta-de-galleta-pages{
    margin: 20px;
     padding: 30px;
}
 .torta-de-galleta-pages div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .torta-galleta-grande{
    width: 18rem;
    border-radius: 10%;
 }
 .caja-de-10-galletas-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .caja-de-10-galletas{
    width: 18rem;
    border-radius: 10%;
 }
 .caja-de-12-galletas-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .caja-de-12-galletas{
    width: 18rem;
    border-radius: 10%;
 }
 .caja-de-15-galletas-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .caja-de-15-galletas{
    width: 18rem;
    border-radius: 10%;
 }
 .caja-de-20-galletas-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .caja-de-20-galletas{
    width: 18rem;
    border-radius: 10%;
 }
 .galleta-monstruo-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .galleta-monstruo{
    width: 18rem;
    border-radius: 10%;
 }
 .monstruo-de-nutella-de-4-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .monstruo-de-nutella-de-4{
    width: 18rem;
    border-radius: 10%;
 }
 .heart-cookie-cake-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .heart-cookie-cake{
    width: 18rem;
    border-radius: 10%;
 }
 .galleta-flor-gigante-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .galleta-flor-gigante{
    width: 18rem;
    border-radius: 10%;
 }
 .torta-galleta-peque-div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
 }
 .torta-galleta-peque{
    width: 18rem;
    border-radius: 10%;
 }
.donde-estamostext{
    font-family: 'DM Sans', sans-serif;
}
.carousel-inner{
  max-width: 300px;
  margin: 0 auto;
}
.mapa{
    text-align: center;
}
.sobre-nosotrosdiv{
    float: left;
    margin: 10px;

}
.sobrenostext{
    font-family: 'DM Sans', sans-serif;
    overflow: auto; 
    display: inline-block;

}
.dueña{
    width: 40rem;
    border-radius: 5%;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 10px; /* Espacio entre elementos */
    padding: 20px;
  }

  .menu-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden; /* Para manejar imágenes que puedan ser más grandes que el contenedor */
  }

  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Asegura que las esquinas de la imagen se vean redondeadas */
  }
.titps{
    font-family: Arial, Helvetica, sans-serif ;
}
.productos {
margin: 20px;
padding: 30px;
}
.productos div{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
}
.galleta-individual{
    width: 18rem;
    border-radius: 10%;
}
.caja3galletas{
    width: 18rem;
    border-radius: 10%;
}
.caja6galletas{
    width: 18rem;
    border-radius: 10%;
}
.caja10corazones{
    width: 18rem;
    border-radius: 10%;
}

.footer{
    background-color: rgb(255, 208, 207);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
}
.whatslink{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}
.whatsimg{
    width: 4rem;
    border-radius: 30%;
}

.iglink{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}
.igimg{
    width: 4rem;
    border-radius: 30%;
}
.tiktoklink{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}
.tiktokimg{
    width: 4rem;
    border-radius: 30%;
}
@media only screen and (min-width: 300px) and (max-width: 414px){
    *{
        margin: 0;
        padding: 0;
        background-color: rgb(255, 208, 207);
    }
    
    .productos-principales div{
        display: inline-block;
        text-align: center;
        margin: 1px;
        font-family: 'DM Sans', sans-serif;
    }
    .galletaprin{
    position: relative;
    display: inline-block;
    text-align: center;
    }
    .galletaprin img{
        width: 5rem;
        display: inline-block;
        border-radius: 10%;
    }
    .regalosprin{
        position: relative;
    display: inline-block;
    text-align: center;
    }
    .regalosprin img{
        width: 5rem;
        height: 5rem;
        display: inline-block;
        border-radius: 10%;
    }
    .tortaprin{
        position: relative;
    display: inline-block;
    text-align: center;
    }
    .tortaprin img{
        width: 5rem;
        display: inline-block;
        border-radius: 10%;
    }
    .centrado{
    position: absolute;
    opacity: 80%;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    }
    .productos div{
        display: inline-block;
        text-align: center;
        margin: 3px;
        font-family: 'DM Sans', sans-serif;
        max-width: 80px;
    }
    .galletas-pages{
        margin: 20px;
        padding: 4px;
        }
    .torta-de-galleta-pages{
        margin: 20px;
         padding: 4px;
    }
    .galleta-individual{
        border-radius: 10%;
        width: 5rem;
    }
    .caja3galletas{
        border-radius: 10%;
        width: 5rem;
    }
    .caja6galletas{
        border-radius: 10%;
        width: 5rem;
    }
    .caja-de-10-galletas{
        border-radius: 10%;
        width: 5rem;
    }
     .caja-de-12-galletas{
         border-radius: 10%;
         width: 5rem;
        }
     .caja-de-15-galletas{
         border-radius: 10%;
         width: 5rem;
        }
     .caja-de-20-galletas{
        width: 5rem;
        border-radius: 10%;
     }
     .galleta-monstruo{
        width: 5rem;
        border-radius: 10%;
     }
    .caja10corazones{
        width: 5rem;
        border-radius: 10%;
    }
    .torta-galleta-grande{
        width: 5rem;
        border-radius: 10%;
     }
    .torta-galleta-peque{
        width: 5rem;
        border-radius: 10%;
     }
     .monstruo-de-nutella-de-4{
        width: 5rem;
        border-radius: 10%;
     }
     .heart-cookie-cake{
        width: 5rem;
        border-radius: 10%;
     }
     .galleta-flor-gigante{
        width: 5rem;
        border-radius: 10%;
     }
 
     .mapa{
        border-radius: 10%;
     }
    .dueña{
        width: 22.8rem;
        border-radius: 5%;
    }

     .footer{
        max-height: 20px;
          }


}



